/* overrides van cbsviewer styles. */
.settingsPanel {
	top: 240px;
	width: 254px;
	overflow-x: visible;
}

.subtitel {
	margin-bottom: 0;
}

.page .header .h1 {
	margin: 0;
	font-size: 36px;
	font-weight: bold;
}
.page .header .mainMenu {
	left: 500px;
}

#zoekContainer {
	background-image: none;
	background-color: $BlueColour;
	width: 500px;
	top: 83px;
	@include border-right-radius(3px);
}

#zoekContainer label {
	display: inline;
	margin-left: 3em;
}

#footerWrapper {
	width: 500px;
	@include border-right-radius(3px);
}